
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, 
sub, sup, tt, var, fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td  
	{ margin: 0; padding: 0; border: 0; outline: 0; }
:focus { outline: 0; }
table { border-collapse: separate; border-spacing: 0; }
img { -ms-interpolation-mode: bicubic; }
div,ul,li,a { box-sizing: border-box; ms-box-sizing: border-box; webkit-box-sizing: border-box; moz-box-sizing: border-box; }


body,html { background-color:white;color:#333;height:100%;}
body {
	font-family: Georgia, serif;
	font-size:11pt;
	min-height:100%;
}
	
a { text-decoration:none; color:#822}
a:hover { text-decoration: underline;}
a:visited {color:#822;}
	
p {line-height:1.6em;}
#content p { }

h1, h2, h3, h4  { font-family: serif; font-weight:normal; margin-top:2em;}
h1{font-size:1.8em; }
h2{font-size:1.5em; font-style:italic; }
h3{font-size:1.2em; font-weight:bold;}
h4{font-size:1.1em; }
h1 a,h2 a,h3 a,h4 a{color:#333;}
h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited{color:#333;}



/* clearing */
.c:before, .c:after { content: ""; display: table; } 
.c:after { clear: both; } 
.c { zoom: 1;} /* For IE 6/7 (trigger hasLayout) */
.cleare,.clear {clear:both;} /* deprecated */

.left { float:left }
.right { float:right }

.s {position:relative;} /* sectioning div */
.c {margin:0 auto;width:80%;min-width:200px;max-width:1024px;} /* container div (inside s) */
.c25 {float:left;width:24.5%;}
.c33 {float:left;width:33%;}
.c50 {float:left;width:49.5%;}
.c66 {float:left;width:66%;}
.c100 { }
.cb {display:inline-box;} /*box container*/
.pl {padding-left:0.5em;}
.pr {padding-right:0.5em;}
.tc { text-align:center}
.tl { text-align:left}
.tr { text-align:right}
.tj { text-align:justify}



#banner { color:#ccc; background-size:cover; background-color:none; background-position:center 70%; background-image:url(images/page.jpg); box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.2); border-bottom: 1px solid #aaa; overflow:hidden; min-height:300px; }
#banner #nav {text-align:left;position:absolute;}
#banner #nav ul {margin:1.0em 0 0 0;padding:0;list-style:none;display:inline-block;}
#banner #nav li {margin:0;padding:0;float:left;display:inline;}
#banner #nav a{ color:#ccc; font-size:1em;font-weight:normal;padding:1.0em 1em;border-left:1px solid rgba(255,255,255,0.2);margin-left:-1px}
#banner #nav a:hover{background-color:rgba(0,0,0,0.2);}
#banner #title { position:absolute;bottom:0.2em;right:15%;display:inline;max-width:50%;text-align:right}
#banner #title a { color:#ccc; font-weight:normal;line-height:1em; padding:0.2em 0; text-shadow: 0.005em 0.005em .2em rgba(0,0,0,0.5);}
#banner #title a:hover { color:#eee;text-decoration:none; text-shadow: 0.005em 0.005em .2em rgba(255,255,255,0.5);}


body {
	display: flex;
  	flex-direction: column;
}
#content {
  flex: 1;
}

#content { font-size:14.3pt; margin-top:2em;  margin-bottom:2em;}
#content p {margin:0.8em 0; }
#content img {padding:0 0.8em;}


#content dt { margin-top: 0.5em;}
#content dd { font-style: italic; margin-bottom:0.4em;font-size:0.9em;}
#content .meta { font-size:0.8em;margin-left:1em;}
#content hr { border:none; height:1px; background-color:rgba(0,0,0,0.2);width:80%}

#footer { color:#222;margin-top: auto; font-family: "Lucida Console", Monaco, monospace;
			border-top:1px solid #aaa; box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2); }
#footer .c {text-align:center; font-size:0.9em; padding:0.5em 0;}
#footer #rss { margin-left:0.5em;padding:0 0.5em;}
#footer #rss i { font-size:0.9em; }

.social { margin:3em 0;}
.social a { padding:0 10px; font-size:1.5em; vertical-align: middle}
.social a:first-child { padding-left:0;}
.social a:hover { text-decoration: none; color:#a66;}
.button { padding:0.5em 2em; margin-bottom:2em; border:1px solid rgba(0,0,0,0.2); text-align: center; min-width:60px; border-radius: 3px}
.button:hover { background-color:rgba(200,0,0,0.1); }
#disqus_thread #show_comments { display:block; }

ul.pagination {margin:1em 0;padding:0;list-style:none; border:1px solid rgba(0,0,0,0.2);border-radius: 3px;display:table;}
ul.pagination li {margin:0;padding:0;height:auto;display:table-cell;}
ul.pagination a{ color:#333; margin:0; padding:0.3em 0.7em;display: inline-block; border-left:1px solid rgba(0,0,0,0.2);}
ul.pagination li:first-child a{border-left:0px;}
ul.pagination a:hover{background-color:rgba(0,0,0,0.2);text-decoration: none;}
ul.pagination li.active {background-color:rgba(200,0,0,0.1); }
ul .disabled a { color:#888 !important;}

ul.cloud { margin:1em auto;padding:0;list-style:none; display: block; text-align:center; font-size:0.7em;}
ul.cloud li { display: inline-block;  }
ul.cloud li a { padding:0.2em 0.5em; border:1px solid #aaa; border-radius: 3px;}
ul.cloud li:first-child a { }

ul.stats { margin:1em auto;padding:0;list-style:none; display: inline-block; font-size:0.7em;}
ul.stats li { }
ul.stats li a { padding:0.2em 0.5em; border:1px solid #aaa; border-radius: 3px;}
ul.stats li:first-child a { }

#content .post { margin-top:2em; } /* used on lists of articles & blogs */
#content .post img.thumb { max-width: 120px; float:left; vertical-align: top; padding:3px; margin: 0 1em 0 0;}
#content .bordered img, img.bordered { border:1px solid #aaa; border-radius: 3px }
#content .post h3, .post h4 { margin-top: 0;}
#content .post.featured img.thumb { max-width:300px; }

pre { background-color:#ddd; padding:1em 1em; border:1px solid #ccc; white-space: pre-wrap; }
code {background-color:#ddd; padding: 0.05em 0.4em; font-family: "Lucida Console", Monaco, monospace; font-size:0.8em;}
pre>code { padding-left: 0; }
#banner.home { min-height:400px; background-image:url(images/home.jpg)}
#banner.home #title { font-size:4em; }


/*
Flaticon icon font: Flaticon
Creation date: 19/01/2017 03:59
*/

@font-face {
  font-family: "Flaticon";
  src: url("./flaticon/flaticon.eot");
  src: url("./flaticon/flaticon.eot?#iefix") format("embedded-opentype"),
       url("./flaticon/flaticon.woff") format("woff"),
       url("./flaticon/flaticon.ttf") format("truetype"),
       url("./flaticon/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./flaticon/flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-fb:before { content: "\f100"; }
.flaticon-github:before { content: "\f101"; }
.flaticon-google:before { content: "\f102"; }
.flaticon-instagram:before { content: "\f103"; }
.flaticon-linkedin:before { content: "\f104"; }
.flaticon-pinterest:before { content: "\f105"; }
.flaticon-rss:before { content: "\f106"; }
.flaticon-twitter:before { content: "\f107"; }

