{{> header.inc.html {extracss:'home'} }}
<h1><a href="/{{uri}}">{{^longtitle}}{{title}}{{/longtitle}}{{longtitle}}</a></h1>
{{{content}}}
{{^hide_featured_posts}}
<h2>Featured Posts</h2>
{{#featured}}
	<div class="post clear bordered featured">
    	{{#image}}<img src="/images/{{image #safe_thumb{w:300} }}" class="thumb" srcset="{{image #safe_srcset{w:'300,512,720'} }}" sizes="(max-width:768px) 90vw, 20vw">{{/image}}
   	 <a href="/{{uri}}">
    	<h3>{{title}}</h3>
    	<h4>{{^subtitle}}{{metadesc}}{{/subtitle}}{{subtitle}}</h4></a>
    	<p class="meta">Posted by <a href="{{author_url}}#{{author}}">{{author}}</a> on {{date.formatted}}</p>
	</div>
{{/featured}}<div class="clear"></div>{{/hide_featured_posts}}
{{^hide_popular_posts}}
<h2>Popular</h2>
{{#popular}}
	<div class="post clear bordered">
    	{{#image}}<img src="/images/{{image #safe_thumb{w:120} }}" class="thumb">{{/image}}
   	 <a href="/{{uri}}">
    	<h3>{{title}}</h3>
    	<h4>{{^subtitle}}{{metadesc}}{{/subtitle}}{{subtitle}}</h4></a>
    	<p class="meta">Posted by <a href="{{author_url}}#{{author}}">{{author}}</a> on {{date.formatted}}</p>
	</div>
{{/popular}}{{/hide_popular_posts}}
{{> footer.inc.html}}
