{{>header.inc }}
<h1 id="_top">{{title}}</h1>
{{^list_hide_content }}
	{{{content}}}
	<hr/>
{{/list_hide_content}}
{{#dynamic_list @auto_paginate }}
	<div class="post clear bordered">
    	{{#image}}<img src="/images/{{image #safe_thumb{w:120} }}" class="thumb">{{/image}}
   	 <a href="/{{uri}}">
    	<h3>{{title}}</h3>
    	<h4>{{^subtitle}}{{metadesc}}{{/subtitle}}{{subtitle}}</h4></a>
    	<p class="meta">Posted by <a href="{{author_url}}#{{author}}">{{author}}</a> on {{date.formatted}}</p>
	</div>
{{else}}
<i>Nothing available.</i>
{{/dynamic_list}}
</dl>{{#paginated}}
	<ul class="pagination">
		{{#first}}<li><a href="/{{uri}}">&laquo;</a></li>{{else}}<li class="disabled"><a href="#">&laquo;</a></li>{{/first}}
		{{#prev}}<li><a href="/{{uri}}">&lsaquo;</a></li>{{else}}{{#paginate_nextprev}}<li class="disabled"><a href="#">&lsaquo;</a></li>{{/paginate_nextprev}}{{/prev}}
		{{#item}}
		<li {{#active}}class="active"{{/active}}><a href="/{{uri}}">{{page}}</a></li>{{/item}}
		{{#next}}<li><a href="/{{uri}}">&rsaquo;</a></li>{{else}}{{#paginate_nextprev}}<li class="disabled"><a href="#">&rsaquo;</a></li>{{/paginate_nextprev}}{{/next}}
		{{#last}}<li><a href="/{{uri}}">&raquo;</a></li>{{else}}<li class="disabled"><a href="#">&raquo;</a></li>{{/last}}
	</ul>
{{/paginated}}
{{>footer.inc}}