{{>header.inc }}
<h1>{{title}}</h1>
{{^list_hide_content }}
	{{{content}}}
	<hr/>
{{/list_hide_content}}
{{#dynamic_list @auto_paginate }}
<dl>
    <dt><a href="/{{uri}}">{{title}}</a></dt>
    <dd>{{^subtitle}}{{metadesc}}{{/subtitle}}{{subtitle}}<br/>
    <span class="meta">Posted by <a href="{{author_url}}">{{author}}</a> on {{date.formatted}}</span></dd>
</dl>
{{else}}
<i>Nothing available.</i>
{{/dynamic_list}}
{{#paginated}}
	<ul class="pagination">
		{{#first}}<li><a href="/{{uri}}">&laquo;</a></li>{{/first}}
		{{#item}}
		<li {{#active}}class="active"{{/active}}><a href="/{{uri}}">{{page}}</a></li>{{/item}}
		{{#last}}<li><a href="/{{uri}}">&raquo;</a></li>{{/last}}
	</ul>
{{/paginated}}
{{>footer.inc}}